{% extends 'base.html' %}

{% block content %}
    <script type="text/javascript">
    $(document).ready(function () {
        $('#about-link').addClass("active");
        $('#home-link').removeClass("active");
        $('#contact-link').removeClass("active");
    });
    </script>
    <p class="lead">
        POOL Calculator is meant to get more people interested in POOL and to become a resource to send people with questions.
    </p>
    <p class="lead">
        POOL is currently listed on <a href="https://idex.market/eth/pool" style="color: chartreuse">idex</a> and <a href="https://etherdelta.com/#POOL-ETH" style="color: chartreuse">EtherDelta</a>.
    </p>
{% endblock %}