{% extends 'base.html' %}

{% block content %}
    <script type="text/javascript">
    $(document).ready(function () {
        $('#about-link').addClass("active");
        $('#home-link').removeClass("active");
        $('#contact-link').removeClass("active");
    });
    </script>
    <p>
        POOL Calculator is meant to get more people interested in POOL and to become a resource to send people with questions.  This site is not affiliated with POS Mining Co.  The only connection is I own a small number of POOL coins.
    </p>
{% endblock %}