{% extends 'base.html' %}

{% block content %}
    <script>
        $(document).ready(function () {
            $( "#contact-link" ).addClass( "active" );
            $( "#about-link" ).removeClass( "active" );
            $( "#home-link" ).removeClass( "active" );
        });
    </script>
    <p class="lead">
        To learn more or discuss POOL, join the telegram group <a href="https://t.me/Stake_POOL" style="color: chartreuse" target="_blank">here</a>.  My username is @kevinb15.  Feel free to send me a PM with ideas, feedback, or bug reports.
    </p>
{% endblock %}