{% extends 'base.html' %}

{% block content %}
    <script>
        $( "#home-link" ).addClass( "active" );
        $( "#about-link" ).removeClass( "active" );
        $( "#contact-link" ).removeClass( "active" );
    </script>
    <h1 class="cover-heading">What is POOL?</h1>
    <p class="lead">
        POOL coin gives users 65% of the payouts from the profits while another 25% of the payouts are reinvested.  10% of the payouts are taken to maintain the mining equipment.  To learn more about this coin, read the whitepaper <a href="http://stakepool.co/POOLTokenLaunch.pdf" style="color: chartreuse">here</a>.
    </p>
    <p class="lead">
    <form method="POST" class="post-form">{% csrf_token %}
        Enter any amount of POOL to see how much it would have made last month: {{ form.coin_num }}
        <button type="submit" class="save btn btn-default">Calculate!</button>
    </form>
    </p>
{% endblock %}